* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  /* font-family: "Poppins", sans-serif; */
  background-color: #e6e6e6;
}

.logo {
  color: rgb(29, 29, 29);
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 17px;
}

.logo a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}

.logo a:hover {
  color: rgb(29, 29, 29);
}

.nav-links {
  display: flex;
  width: 75%;
  justify-content: space-around;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(58, 57, 57);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.active a {
  color: #fca311;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(58, 57, 57);
  margin: 5px;
  transition: all 0.3s ease;
}

/* Scroll to top button */
.btnScrollToTop {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 10px;
  width: 40px;
  height: 40px;
  /* border-radius: 50%; */
  border-radius: 5px;
  border: none;
  background-color: #14213d;
  color: #e6e6e6;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.btnScrollToTop:active {
  background-color: #090e1b;
}

.whatsapp {
  /* display: none; */
  position: fixed;
  left: 15px;
  bottom: 0px;
}
.whatsapp img {
  width: 100px;
  height: 45px;
}

/* About Section */
.about-container {
  text-align: center;
}
.about-amir {
  background-color: #f8f8f8;
  width: 100%;
  padding: 30px 30px;
}

.about-amir .col {
  width: 80%;
  margin-bottom: 20px;
}

.about-amir img {
  padding: 10px 50px;
}

/* CONTACT US */
.contact-main-container {
  width: 80%;
  margin: 50px auto;
}

.contact-box {
  background-color: #14213d;
  display: flex;
  color: whitesmoke;
}

.contact-left {
  flex-basis: 60%;
  padding: 40px 60px;
}

.contact-left h3 {
  text-decoration: underline;
  margin-bottom: 15px;
}

.contact-right {
  flex-basis: 40%;
  padding: 40px 60px;
  background-color: #e6e6e6;
  color: rgb(58, 57, 57);
}

.contact-right h3 {
  text-decoration: underline;
  margin-bottom: 15px;
}

.contact-main-container h1 {
  margin-bottom: 10px;
  color: rgb(58, 57, 57);
}

.contact-main-container p {
  margin-bottom: 40px;
}

.input-row .input-group {
  flex-basis: 45%;
}

input {
  width: 100%;
  outline: none;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

form {
  display: flex;
  flex-direction: column;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  /* font-size: small; */
}
.contact-details-row {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  justify-content: center;
}
.contact-details-row a {
  padding: 10px 10px;
}
.contact-left button {
  background-color: #e6e6e6;
  float: right;
  margin-top: 10px;
  padding: 7px 20px;
  border-radius: 10px;
  border-style: none;
}
.contact-left button:hover {
  background-color: #89adfa;
  float: right;
  margin-top: 10px;
  padding: 7px 20px;
  border-radius: 10px;
}

@media screen and (max-width: 900px) {
  body {
    position: relative;
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 10vh;
    background-color: #e6e6e6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav-links li {
    opacity: 0;
    align-items: center;
  }
  .burger {
    display: block;
    cursor: pointer;
  }

  /* Events */
  .row {
    flex-direction: column;
  }

  .contact-box {
    flex-direction: column;
  }

  .whatsapp {
    display: block;
  }

  .about-amir .col {
    width: 100%;
    margin-bottom: 20px;
  }
  .about-amir img {
    padding: 10px 0px;
  }

  .contact-left {
    flex-basis: 60%;
    padding: 40px 30px;
  }
  .contact-right {
    flex-basis: 40%;
    padding: 40px 30px;
    background-color: #e6e6e6;
    color: rgb(58, 57, 57);
  }
  .sale-container img {
    width: 90%;
  }
}

.nav-active {
  transform: translateX(0%);
}

/* animation for the words on side navigation bar */
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Change the burger when opened */
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.container {
  padding: 20px;
}

a:hover {
  background-color: #5f5f5f;
  color: #e6e6e6;
}

/* 
.button {
  background-color: #14213d;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 8px;
  display: block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
} */

/* ===== INDEX PAGE ===== */
header {
  width: 100%;
  height: 100vh;
  background-image: url(./img/home-pic.jpg);
  background-position: bottom;
  background-size: cover;
  display: flex;
  align-items: center;
  color: #e6e6e6;
  /* justify-content: center; */
}
.header-content {
  margin-left: 10%;
}
.header-content h2 {
  font-size: 4vmin;
}
.header-content h1 {
  font-size: 7vmin;
  margin-top: 20px;
  margin-bottom: 10px;
}

.ctn {
  background-color: #e6e6e6;
  color: #14213d;
  padding: 7px 10px;
  font-weight: bold;
  margin-bottom: 5px;
  border: none;
  transition: 1s;
  font-size: medium;
  text-decoration: none;
  border-radius: 4px;
  margin-bottom: 30px;
}

.about-amir .row .col img {
  width: 80%;
  height: 350px;
}

/* Events */
section {
  width: 80%;
  margin: 50px auto;
}
.title {
  text-align: center;
  font-size: 4vmin;
  color: #14213d;
  margin-bottom: 20px;
}
.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
.events .row .col img {
  width: 100%;
  height: 230px;
  padding: 0px 10px;
}

.row .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.events .row {
  /* margin-top: 30px; */
}
.row .col h4 {
  font-size: 3vmin;
  color: #243b6b;
  margin-top: 10px;
  /* margin: 20px auto; */
}
.row .col p {
  color: #3c5fac;
  text-align: left;
  padding: 0px 5px;
}
.events .ctn {
  margin-top: 30px;
  font-size: 15px;
}

/* Footer */
.footer {
  width: 100%;
  min-height: 100px;
  padding: 20px 80px;
  margin: 0;
  background-color: #14213d;
  text-align: center;
}

.footer p {
  color: whitesmoke;
  margin: 20px auto;
  padding: 20px auto;
  font-weight: bold;
  font-size: 2.7vmin;
}

/* Services Section */
.services {
  background-color: #f8f8f8;
  width: 100%;
  padding: 30px 30px;
}

/* Sale */
.sale-container {
  margin: 30px 20px;
  padding: 10px;
  border: solid #747474;
  width: 90%;
}

.sale-info {
  display: flex;
  flex-direction: column;
  /* align-items: flex-start; */
  margin-bottom: 10px;
  margin-top: 10px;
}

.price {
  background-color: #14213d;
  color: #e6e6e6;
  padding: 5px 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.btnDetails {
  background-color: #e6e6e6;
  color: #14213d;
  padding: 7px 10px;
  font-weight: bold;
  margin-bottom: 5px;
  border: none;
  transition: 0.5s;
  font-size: medium;
}

.btnDetails:hover {
  background-color: #fca311;
  color: #14213d;
}
